.bottle{
    border: 3px solid violet;
    border-radius: 8px;
    padding: 20px;
    margin: 4px 4px 4px 4px;
}
.bottle img{
    width: 250px;
}
.bottle h1{
    font-size: 20px;
}
.bottle p{
    font-weight: bold;
}
.bottle button{
    border: 2px solid red;
    background-color: red;
    border-radius: 8px;
    color: white;
}