.bottles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.bottles-div{
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    width: 100px;
    margin-right: 20px;
}
